<a href="https://colab.research.google.com/github/Glennarcega/IT-BA-3203-PROJECT/blob/main/Social_Factor_of_death.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
import csv

In [170]:
df=pd.read_csv("https://raw.githubusercontent.com/Glennarcega/IT-BA-3203-PROJECT/main/Summaryofdeath.csv")
df

,Year,NumberofDeaths,Male,Female,Number of Infant Deaths,Male.1,Female.1,Infant Mortality Rate,Male.2,Female.2,Number of Under-Five Deaths,Male.3,Female.3,Under-Five Mortality Rate,Male.4,Female.4,Number of Child Deaths,Number of Fetal Deaths,Number of Maternal Deaths,Maternal Mortality Ratio
0,2018,"590,709","337,789","252,920","21,019","12,174","8,845",12.6,14.0,11.1,"28,824","16,389","12,435",17.3,18.8,15.6,"7,805","8,594","1,616",96.9
1,2017,"579,237","332,517","246,720","20,311","11,760","8,551",11.9,13.2,10.5,"28,884","16,372","12,512",17.0,18.4,15.4,"8,573","7,709","1,484",87.3
2,2016,"582,183","334,678","247,505","21,874","12,566","9,308",12.6,13.9,11.2,"31,004","17,471","13,533",17.9,19.3,16.4,"9,130","8,020","1,483",85.7
3,2015,"560,605","321,624","238,981","20,750","12,086","8,664",11.9,13.3,10.4,"29,332","16,731","12,601",16.8,18.4,15.1,"8,582","7,676","1,721",98.6
4,2014,"551,716","316,544","235,172","21,572","12,495","9,077",12.3,13.7,10.9,"30,925","17,597","13,328",17.7,19.3,15.9,"9,353","7,664","1,638",93.7
5,2013,"531,280","304,516","226,764","21,992","12,699","9,293",12.5,13.8,11.0,"31,518","17,839","13,679",17.9,19.5,16.2,"9,526","7,474","1,522",86.4
6,2012,"514,745","296,614","218,131","22,254","12,987","9,267",12.4,13.9,10.8,"31,491","17,969","13,522",17.6,19.2,15.8,"9,327","7,862","1,447",80.8
7,2011,"498,486","288,730","209,756","22,283","13,092","9,191",12.8,14.4,11.0,"31,643","18,123","13,520",18.1,19.9,16.2,"9,360","8,173","1,469",84.1
8,2010,"488,265","282,381","205,884","22,476","13,163","9,313",12.6,14.2,10.9,"31,682","18,234","13,448",17.8,19.7,15.7,"9,206","8,095","1,719",96.4
9,2009,"480,820","279,513","201,307","21,659","12,503","9,156",12.4,13.8,10.9,"31,496","17,904","13,592",18.0,19.7,16.2,"9,837","8,043","1,599",91.6
10,2008,"461,581","268,764","192,817","22,351","13,099","9,252",12.5,14.1,10.8,"31,403","18,046","13,357",17.6,19.4,15.6,"9,052","8,306","1,731",97.0
11,2007,"441,956","258,178","183,778","21,720","12,809","8,911",12.4,14.1,10.6,"30,380","17,569","12,811",17.4,19.3,15.3,"8,660","8,191","1,672",95.5
12,2006,"441,036","258,300","182,736","21,764","12,786","8,978",13.1,14.8,11.2,"31,413","18,049","13,364",18.9,20.9,16.7,"9,649","8,458","1,721",103.5
13,2005,"426,054","250,102","175,952","21,674","12,752","8,922",12.8,14.5,11.0,"30,825","17,758","13,067",18.3,20.2,16.1,"9,151","10,351","1,732",102.6
14,2004,"403,191","237,750","165,441","22,557","13,219","9,338",13.2,14.9,11.4,"31,205","18,037","13,168",18.2,20.3,16.0,"8,648","8,935","1,833",107.1
15,2003,"396,331","233,739","162,592","22,844","13,329","9,515",13.7,15.3,11.9,"33,171","18,924","14,247",19.9,21.8,17.8,"10,327","8,986","1,798",107.7
16,2002,"396,297","232,530","163,767","23,778","13,925","9,853",14.3,16.1,12.3,"34,754","19,953","14,801",20.9,23.0,18.5,"10,976","9,341","1,801",108.1
17,2001,"381,834","225,879","155,955","26,129","15,393","10,736",15.2,17.3,13.0,"37,873","21,790","16,083",22.1,24.4,19.5,"11,744","9,625","1,768",103.1
18,2000,"366,931","217,404","149,527","27,714","16,286","11,428",15.7,17.7,13.5,"39,365","22,675","16,690",22.3,24.7,19.7,"11,651","10,360","1,698",96.1

In [ ]:
Total  death

In [175]:
df[['Year','NumberofDeaths','Male','Female']]

    Year NumberofDeaths     Male   Female
0   2018        590,709  337,789  252,920
1   2017        579,237  332,517  246,720
2   2016        582,183  334,678  247,505
3   2015        560,605  321,624  238,981
4   2014        551,716  316,544  235,172
5   2013        531,280  304,516  226,764
6   2012        514,745  296,614  218,131
7   2011        498,486  288,730  209,756
8   2010        488,265  282,381  205,884
9   2009        480,820  279,513  201,307
10  2008        461,581  268,764  192,817
11  2007        441,956  258,178  183,778
12  2006        441,036  258,300  182,736
13  2005        426,054  250,102  175,952
14  2004        403,191  237,750  165,441
15  2003        396,331  233,739  162,592
16  2002        396,297  232,530  163,767
17  2001        381,834  225,879  155,955
18  2000        366,931  217,404  149,527

In [ ]:
 infant death

In [179]:
df[['Year','Number of Infant Deaths','Male.1','Female.1']]

    Year Number of Infant Deaths  Male.1 Female.1
0   2018                  21,019  12,174    8,845
1   2017                  20,311  11,760    8,551
2   2016                  21,874  12,566    9,308
3   2015                  20,750  12,086    8,664
4   2014                  21,572  12,495    9,077
5   2013                  21,992  12,699    9,293
6   2012                  22,254  12,987    9,267
7   2011                  22,283  13,092    9,191
8   2010                  22,476  13,163    9,313
9   2009                  21,659  12,503    9,156
10  2008                  22,351  13,099    9,252
11  2007                  21,720  12,809    8,911
12  2006                  21,764  12,786    8,978
13  2005                  21,674  12,752    8,922
14  2004                  22,557  13,219    9,338
15  2003                  22,844  13,329    9,515
16  2002                  23,778  13,925    9,853
17  2001                  26,129  15,393   10,736
18  2000                  27,714  16,286   11,428

In [183]:
df[['Year','Number of Under-Five Deaths','Male.3','Female.3']]

    Year Number of Under-Five Deaths  Male.3 Female.3
0   2018                      28,824  16,389   12,435
1   2017                      28,884  16,372   12,512
2   2016                      31,004  17,471   13,533
3   2015                      29,332  16,731   12,601
4   2014                      30,925  17,597   13,328
5   2013                      31,518  17,839   13,679
6   2012                      31,491  17,969   13,522
7   2011                      31,643  18,123   13,520
8   2010                      31,682  18,234   13,448
9   2009                      31,496  17,904   13,592
10  2008                      31,403  18,046   13,357
11  2007                      30,380  17,569   12,811
12  2006                      31,413  18,049   13,364
13  2005                      30,825  17,758   13,067
14  2004                      31,205  18,037   13,168
15  2003                      33,171  18,924   14,247
16  2002                      34,754  19,953   14,801
17  2001                      37,873  21,790   16,083
18  2000                      39,365  22,675   16,690

In [188]:
df[['Year','Number of Child Deaths','Number of Fetal Deaths','Number of Maternal Deaths']]

,Year,Number of Child Deaths,Number of Fetal Deaths,Number of Maternal Deaths
0,2018,"7,805","8,594","1,616"
1,2017,"8,573","7,709","1,484"
2,2016,"9,130","8,020","1,483"
3,2015,"8,582","7,676","1,721"
4,2014,"9,353","7,664","1,638"
5,2013,"9,526","7,474","1,522"
6,2012,"9,327","7,862","1,447"
7,2011,"9,360","8,173","1,469"
8,2010,"9,206","8,095","1,719"
9,2009,"9,837","8,043","1,599"
10,2008,"9,052","8,306","1,731"
11,2007,"8,660","8,191","1,672"
12,2006,"9,649","8,458","1,721"
13,2005,"9,151","10,351","1,732"
14,2004,"8,648","8,935","1,833"
15,2003,"10,327","8,986","1,798"
16,2002,"10,976","9,341","1,801"
17,2001,"11,744","9,625","1,768"
18,2000,"11,651","10,360","1,698"