<a href="https://colab.research.google.com/github/Glennarcega/IT-BA-3203-PROJECT/blob/main/Social_Factor_of_death.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
import csv

In [104]:
url = "https://raw.githubusercontent.com/Glennarcega/IT-BA-3203-PROJECT/main/Summaryofdeath.csv"
Summaryofdaeath = pd.read_csv(url)

df.head()

,Year,Number of Deaths,Male,Female,Crude Death Rate,Male.1,Female.1,Number of Infant Deaths,Male.2,Female.2,...,Number of Under-Five Deaths,Male.4,Female.4,Under-Five Mortality Rate,Unnamed: 17,Unnamed: 18,Number of Child Deaths,Number of Fetal Deaths,Number of Maternal Deaths,Maternal Mortality Ratio
0,2018,"590,709","337,789","252,920",5.6,6.3,4.8,"21,019","12,174","8,845",...,"28,824","16,389","12,435",17.3,18.8,15.6,"7,805","8,594","1,616",96.9
1,2017,"579,237","332,517","246,720",5.5,6.3,4.7,"20,311","11,760","8,551",...,"28,884","16,372","12,512",17.0,18.4,15.4,"8,573","7,709","1,484",87.3
2,2016,"582,183","334,678","247,505",5.6,6.4,4.8,"21,874","12,566","9,308",...,"31,004","17,471","13,533",17.9,19.3,16.4,"9,130","8,020","1,483",85.7
3,2015,"560,605","321,624","238,981",5.5,6.3,4.7,"20,750","12,086","8,664",...,"29,332","16,731","12,601",16.8,18.4,15.1,"8,582","7,676","1,721",98.6
4,2014,"551,716","316,544","235,172",5.5,6.3,4.8,"21,572","12,495","9,077",...,"30,925","17,597","13,328",17.7,19.3,15.9,"9,353","7,664","1,638",93.7

In [143]:
df.loc[0:23, ['Year','Number of Deaths']]

   Year Number of Deaths
0  2018          590,709
1  2017          579,237
2  2016          582,183
3  2015          560,605
4  2014          551,716

In [65]:
Summaryofdeath = "https://raw.githubusercontent.com/Glennarcega/IT-BA-3203-PROJECT/main/Summaryofdeath.csv"

In [86]:
death = pd.read_csv(Summaryofdeath)

In [ ]:
death.rename(columns={})

In [88]:
Summaryofdeath

'https://raw.githubusercontent.com/Glennarcega/IT-BA-3203-PROJECT/main/Summaryofdeath.csv'

In [87]:
Summaryofdeath.head()

AttributeError: ignored

In [61]:
Summaryofdeath.rename(columns={'Year': 'year','Number of Deaths' : Numberofdeaths}, inplace=True)

AttributeError: ignored

In [55]:
df.loc[0:23,'Year','Number of Deaths']

IndexingError: ignored